#container {
  width: auto;
  background: #306378;
  border: 1px solid silver;
 display: flex;
 flex-direction: column; /*row column*/
 /*justify-content: space-around;*/
 align-items: stretch;
}

#header {
  width: 100%;
  background: #fff178;
  background-size: cover;
  border: 1px solid silver;
  margin: 0px;
  padding: 0px;
  flex: 2;
  display: flex;
  justify-content: space-between;
    }

  #navigation {
  /*background: rgb(246, 249, 250);
  border: 1px solid silver;*/
  margin: 3px;
  padding: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content:center;
  }

  .content {
  background: #306378;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid silver;
  margin: 0px;
  padding: 0px;
  flex: 2;
  display: flex;
  justify-content: center; 
  align-items: center;
    }



  #footer {
  background: rgb(246, 249, 250);
  border: 1px solid silver;
  margin: 3px;
  padding: 5px;
  flex: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  }
  
  .centerpanel {
  /* background: rgb(177, 181, 182);*/
   background: #0097fc;
  border: 1px solid silver;
  margin: 3px;
  padding: 5px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    text-align: center;
  }
  

  /*   меню  ----------------*/

ul, li {
margin: 0;
padding: 0;
}
ul {
list-style: none;
}
li {
float: left;
width: auto;
}
a.menu {
background: white;
color: black;
border: 3px solid silver;
display: block; 
font: bold 20px sans-serif;
padding: 15px 25px;
text-align: center;
text-decoration: none;
}
li:hover a {
background: #;
}


/* Налаштування для текста*/

p {
    color: #CC3399;
  text-align: justify; /*left right center justify*/
  margin-right: 30px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif; /*выберіть свій шрифт*/
  font-size: 25px;
  line-height: 25px;/* відстань між строками*/
}
/* Додайте самостійно налаштування для заголовків h1 h2...*/
h1 {
color: #CC3399; 
  font-size: 40px;  
  text-align: center;
}
h2 {
 color: white; 
  font-size: 35px;
  text-align: center;
}

h3 {
 color: red; 
  font-size: 35px;
  text-align: center;
}